<hr>
<footer>
  <h1>Contenido</h1>
  <div>
  <ul>
    <li class="articulos"><a href="/Historia">Historia</a></li>
    <li class="articulos"><a href="/Desarrollo">Desarrollo de Juego</a></li>
    <li class="articulos"><a href="/Vault-Tec">Vault-Tec</a></li>
    <li class="articulos"><a href="/Personalizacion_personaje">Personalización de Personaje</a></li>
    <li class="articulos"><a href="/Armaduras">Armaduras</a></li>
    <li class="articulos"><a href="/Armas">Armas</a></li>
    <li class="articulos"><a href="/Power-Armor">Power-Armor</a></li>
    <li class="articulos"><a href="/Perks">Perks (S.P.E.C.I.A.L)</a></li>
    <li class="articulos"><a href="/Combate">Combate (VATS)</a></li>
    <li class="articulos"><a href="/Localizaciones">Localizaciones y mapa</a></li>
    <li class="articulos"><a href="/Settlements">Settlements</a></li>
    <li class="articulos"><a href="/Vaults">Vaults</a></li>
    <li class="articulos"><a href="/Personajes">Personajes</a></li>
    <li class="articulos"><a href="/Criaturas">Criaturas y enemigos</a></li>
    <li class="articulos"><a href="/Compañeros">Compañeros</a></li>
    <li class="articulos"><a href="/Facciones">Facciones</a></li>
    <li class="articulos"><a href="/Supervivencia">Modo Supervivencia</a></li>
    <li class="articulos"><a href="/Mods">Mods</a></li>
    <li class="articulos"><a href="/DLC">DLC's</a></li>
    <li class="articulos"><a href="/OtrosJuegos">Otras entregas de la saga</a></li>
  </ul>
  </div>
  <small>TheFalloutWiki 2024. Todos los derechos reservados.</small> 
</footer>
