<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/acerca">Acerca</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="https://github.com/MaferVAG">GitHub</a></li>
  </ul>
  <div class="container-fluid mb-4">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button type="button" class="btn btn-warning">Buscar</button>
    </form>
  </div>
</nav>
