<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/acerca">Acerca</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/buscador">Buscador</a></li>
    <li><a href="https://github.com/MaferVAG">GitHub</a></li>
  </ul>
</nav>
