---
layout: layout-post.njk
title: Acerca de mi
description: Meta descripción de la página de acerca
---

<h1>Acerca</h1> 
<p>Mi nombre es María Fernanda Vásquez y esta página es una wiki acerca de uno de mis videojuegos favoritos: Fallout 4.</p>
<ul>
  <li><b>Materia: </b>Programación en Lenguajes Interpretados </li>
  <li><b>Proyecto: </b>Desarrollo de una Wiki </li>
</ul>

<img src="../img/pipBoyGIF.gif" alt="gifGood" width="90%" height="auto" class="my-3">