---
layout: layout-post.njk
title: Acerca de mi
description: Meta descripción de la página de acerca
---

<h1>Un poco acerca de mi</h1>
<ul>
  <li>🎓 Ingenieria en Desarrollo de Software Interactivo</li>
  <li> Fullstack Software Engineer Jr. En proceso 🔃</li>
  <li>Para saber más visita ​👉​ <a href="https://mafervag.github.io/MaferVAG/">MaferVAG</a></li>
  <li>Gran interés en programación, desarrollo de software y game development.🌎​</li>
</ul>
