---
layout: layout-post.njk
title: Buscador
description: Buscador por filtro de la página
---

<section id="contenedor-main">
<div>

  <input type="text" class="buscador form-control mb-3" id="buscador" name="buscador" placeholder="Buscar..." >

  <ul id="listaArticulos">
    <li class="articulo"><a href="/Historia">Historia</a></li>
    <li class="articulo"><a href="/Desarrollo">Desarrollo de Juego</a></li>
    <li class="articulo"><a href="/Vault-Tec">Vault-Tec</a></li>
    <li class="articulo"><a href="/Personalizacion_personaje">Personalización de Personaje</a></li>
    <li class="articulo"><a href="/Armaduras">Armaduras</a></li>
    <li class="articulo"><a href="/Armas">Armas</a></li>
    <li class="articulo"><a href="/Power-Armor">Power-Armor</a></li>
    <li class="articulo"><a href="/Perks">Perks (S.P.E.C.I.A.L)</a></li>
    <li class="articulo"><a href="/Combate">Combate (VATS)</a></li>
    <li class="articulo"><a href="/Localizaciones">Localizaciones y mapa</a></li>
    <li class="articulo"><a href="/Settlements">Settlements</a></li>
    <li class="articulo"><a href="/Vaults">Vaults</a></li>
    <li class="articulo"><a href="/Personajes">Personajes</a></li>
    <li class="articulo"><a href="/Criaturas">Criaturas y enemigos</a></li>
    <li class="articulo"><a href="/Compañeros">Compañeros</a></li>
    <li class="articulo"><a href="/Facciones">Facciones</a></li>
    <li class="articulo"><a href="/Supervivencia">Modo Supervivencia</a></li>
    <li class="articulo"><a href="/Mods">Mods</a></li>
    <li class="articulo"><a href="/DLC">DLC's</a></li>
    <li class="articulo"><a href="/OtrosJuegos">Otras entregas de la saga</a></li>
  </ul>

</div>
</section>
