---
layout: layout-post.njk
title: Contacto
description: Meta descripción de la página de contacto
---

<h1>Un poco acerca de mi</h1>
<ul>
  <li>🎓 Ingenieria en Desarrollo de Software Interactivo</li>
  <li> Fullstack Software Engineer Jr. En proceso 🔃</li>
  <li>Gran interés en programación, desarrollo de software y game development.🌎​</li>
</ul>

<h1> Datos de Contacto 💻​ </h1>

<h5 class="fst-italic text-start"> Celular </h5>
<ul>
<li>5545122455</li>
</ul>

<h5 class="fst-italic text-start"> Instagram </h5>
<ul>
<li><a href="https://www.instagram.com/mafervag?igsh=MWR2NDl5Ymw2cWZqdw==">mafervag</a></li>
</ul>

<h5 class="fst-italic text-start"> Correo </h5>
<ul>
<li><a href="">fvag0702@gmail.com</a></li>
</ul>

<h5 class="fst-italic text-start"> LinkedIn </h5>
<ul>
<li><a href="https://www.linkedin.com/in/mafer-vasquez-694ab12a0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Mafer Vásquez</a></li>
</ul>
