* {
  box-sizing: border-box;
}
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 auto;
  background-color: rgb(27, 29, 34);
  padding: 1rem;
  max-width: 800px;
  min-height: 100vh;
  border: medium solid darkgoldenrod;
  text-align: center;
  font-family: "Share Tech Mono";
  color: white;
}

a {
  color: #ffe712;
  transition: all 0.3s ease-out;

  &:hover {
    color: darkgoldenrod;
  }
}

hr {
  margin: 2rem auto;
  width: 80%;
}

img {
  display: block;
  margin: 0 auto;
}

iframe{
  max-width: 100%;
}

p,
li {
  text-align: left;
}

.filtro
{
  display: none;
}

.ac
{
background-color: rgb(27, 29, 34);
color: white;
border: thin solid darkgoldenrod;
}

.text-just
{
  text-align: justify;

}

.text-st
{
  text-align: start;
}
.menu {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  border: medium solid darkgoldenrod;
  

  ul {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  li {
    list-style: none;
  }

}

